.projects__grid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--space-7);
}

.project_btn {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: var(--space-7);
}
